table{border: 1px solid lightslategrey; text-align: center ; margin: 0 auto; font-size: 14px;}
td{border: 1px solid lightslategrey; text-align: center; padding: 4px; background: #f3f4e1;}
th{border: 1px solid lightslategrey; padding: 2px}
caption {font-size: 20px; font-weight: bold; padding: 10px}